module.exports = {
    owner_id: "", // bot owner's discord ID here, can be an array of multiple owners
    prefix: ".", // prefix to start the bot, i.e. !, ., /, \
    client_id: "", // bot's client_id found on discord developer site
    client_secret: "", // bot's client_secret found on discord developer site
    client_token: "", // bot's client_token found on discord developer site
    db_username: "username", // mysql database username
    db_password: "password", // mysql database password
    db_name: "taggy", // mysql database name
    db_host: "127.0.0.1", // mysql database host
    blacklist: [""] // Blacklisted discord IDs, leave as [""] if empty
}